terraform/opsschool_mid_project.pem
ansible/ansible.ssh.config
opsschool-kandula-app.2021-12-30.private-key.pem
kandula-app-jenkins-github-integration-converted.pem
terraform/kubeconfig_*
.vscode/settings.json
terraform/db_secret.tfvars
terraform/*.tfplan
terraform/opsschool_project.pem
ansible/roles/psql/vars/main.yml
ansible/roles/psql/files/setup_db.sql
ansible/roles/bootstrap/vars/main.yml
